<div class="container wrapper first" id="top">
  <h1>About Me</h1>

  <p>*Note: This is a hypothetical interview I conducted with myself.  I have always wanted to be interviewed by Rolling Stone, this is probably the closest I will ever come to it. </p>

<p>Interviewer: “Hi Mihir! Thank you so much for taking the time to join me today.  We have been looking forward to this interview for a long time.”</p>

<p>Me: “No, thank you so much for having me. The pleasure is all mine.”</p>

<p>Interviewer: “So Mihir, let’s jump right into it.”</p>

<p>Me: “Cool, let’s do it!”</p>

<p>Interviewer: “I heard you grew up in Seattle, tell me a bit about life growing up in the 2-0-6?”</p>

<p>Me: “Yes, I am in fact a Seattle guy.  I grew up in a suburb right outside of Seattle called Mercer Island.  It was a fairly small and close-knit community. Most of us on the Island went to middle and  high school together so I developed  a lot of lifelong friends.  All of us are still really close. Oh yeah, I forgot to say GO SEAHAWKS! Watch us comeback better than ever this year!”</p>

<p>Interviewer: “I agree with you, I think the Seahawks are going to make another Superbowl run this year.  So Mihir, tell me a bit about your higher education?”</p>

<p>Me: “I did my undergrad at the University of Washington in Seattle. I earned my Bachelors in Science in Molecular, Cellular, and Developmental Biology and completed all Pre-Med requirements.  I had an awesome experience at the University of Washington.  In addition to my academic endeavors, I sang in A Capella group, conducted epilepsy research, and attended every single Husky football game...even the season we went winless, that was true commitment.”</p>

<p>Interviewer: “What did you do after graduating?”</p>

<p>Me: “I worked in clinical vaccinology.  I assisted with executing clinical trials that would access the effectiveness of vaccines. I actually worked on the study that accessed the quality of the annual flu vaccine.  After a year and half of that I got accepted into medical school in Denver.</p>

<p>Interviewer: “So how did you make the transition from medicine to software?”</p>

<p>Me: “My senior year of college I took Computer Science 142 with Stuart Reges as one of my electives.  I had always loved computers growing up and I wanted to learn more about this “code” thing everyone spoke of.  This one class changed my life.  I got a taste of the power code has on solving human problems, my mind was truly blown! However, the reality was that I was a senior in college and had already taken my MCATs, it felt like it was too late to switch.  As I started medical school, I always had programming in the back of my mind.  I can say for a fact that I did not hate medicine, I just liked programming more.  As I was sitting in class one day surfing tech blogs, I came across Turing School of Software and Design.  Turing provided the opportunity for people like me to learn the necessary skills to become a programmer without having to go back for another Bachelor's degree.  All of sudden, I realized that it wasn’t too late.  Soon after I made the decision to make a career change.”</p>

<p>Interviewer: “What experiences from your background in healthcare and medicine can you bring to software development?”</p>

<p>Me: “A strong medical diagnosis is rooted in extracting the correct information from the patient.  That means the physician has to ask precise questions and listen to the patient carefully.  Learning this skill has proven to be extremely valuable in the dev world. Having the ability to grasp an understanding of the human problem I am trying to solve and the technical challenges I may encounter before I start coding, helps me write cleaner code.  In medicine, you can prescribe medications to treat every possible differential diagnosis but that should never be the case if you asked the right questions.  Yes the patient may get better by taking 5 different drugs but it's not good for the patients long-term health.  The same applies for code.  You can manage to get something working by writing sloppy, functional code but you are compromising its long-term health.”</p>

<p>Interviewer: “Awesome, that is some insightful perspective.  Let us conclude this interview with a lighter question.  What do you do for fun outside the realm of code?”</p>

<p>Me: “Haha, I guess you were saving this hard-hitting question for the end.  Well, I guess I have to start with sports.  I love playing and watching sports.  I have a black belt in Tae Kwon Do and I play competitive tennis and ping-pong .  I also have been know make appearances at my local park to participate in some pick up sports. I must mention that one of my greatest achievements is that I am a multiple-time fantasy football champion.  In terms of non-sports related hobbies, I am really into cooking, traveling, and wikipediaing.”</p>

<p>Interviewer: “Thanks for your time Mihir and best of luck on your future.”</p>


</div>
